mat-card {
  width: 18vw;
  height: 75vh;
}

mat-toolbar {
  margin-bottom: 10px;
  background-color: #38618C;
  color: whitesmoke;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
