#container {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

#card1, #card2 {
  width: 27vw;
  height: 28vh;
}

iframe {
  width: 27vw;
  height: 20vh;
}

mat-divider {
  margin: 1vw;
}

#card1-controller {
  display: flex;
  flex-direction: column;
}

.field-controller {
  display: flex;
  justify-content: space-between;
}
