#container {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  bottom: -30px;
}

#card1, #card2 {
  width: 32vw;
  height: 35vh;
}

iframe {
  width: 32vw;
  height: 29vh;
}

mat-divider {
  margin: 1vw;
}

form {
  display: flex;
  justify-content: space-between;
}

.field-controller {
  width: 10vw;
}

mat-card-actions {
  color: #38618C;
}
