#container {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  bottom: -30px;
}

#card1, #card2 {
  width: 32vw;
  height: 35vh;
  border: 3px solid #38618C;
  border-radius: 3px;
}

mat-divider {
  margin: 1vw;
}

form {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: -30px;
}

.field-controller {
  width: 10vw;
}

.long-field-controller {
  width: 80vw;
}

mat-card-actions {
  color: #38618C;
}

iframe {
  width: 32vw;
  height: 29vh;
}

#footer-line {
  height: 1.5vh;
  margin-top: -21px;
  margin-right: -16px;
  margin-left: -16px;
  background-color: #38618C;
}
