<mat-toolbar>
  <button mat-icon-button class="icon" type="button" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>securiT</span>
  <span class="spacer"></span>
  <button mat-icon-button class="icon" aria-label="Example icon-button with heart icon">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="icon">
    <mat-icon>help</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <button mat-button routerLink="team">
      <mat-icon>groups</mat-icon>
      Team Management
    </button>
    <div>test ci</div>
  </mat-drawer>

  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
