mat-toolbar {
  margin-bottom: 10px;
  background-color: #38618C;
  color: whitesmoke;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.sidenav-content {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidenav {
  padding: 20px;
}

router-outlet {
  margin-left: 10px;
}

.text {
  color: red;
}
