#container {
  display: flex;
}

.people-table {
  width: 40vw;
}

.mat-column-badge {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-full-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-squad {
  font-style: italic;
}

.mat-column-state {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

.selected {
  background-color: #38618C;
  color: white;
}

.selected:hover {
  background-color: #35A7FF;
  color: white;
}
