<table mat-table [dataSource]="peopleList" class="mat-elevation-z8 people-table">
  <!-- badge column -->
  <ng-container matColumnDef="badge">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let people">{{people.badge}}</td>
  </ng-container>

  <!-- full name column -->
  <ng-container matColumnDef="full-name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let people">
      <button mat-raised-button [class.selected]="people === selectedPerson" type="button" (click)="onSelect(people)">
      {{people.firstName | titlecase}} {{people.lastName | uppercase}}</button></td>
  </ng-container>

  <!-- squad column -->
  <ng-container matColumnDef="squad">
    <th mat-header-cell *matHeaderCellDef>SQUAD</th>
    <td mat-cell *matCellDef="let people">{{people.squad | titlecase}}</td>
  </ng-container>

  <!-- state column -->
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let people">{{people.state}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<app-people-detail [people]="selectedPerson"></app-people-detail>
